// Colors

$grey--background: #111;
$yellow: #f0bb00;
// $blue: #0b8aff;


$white: #fee9cb;
$navy: #2b3541;
$peach: #FD8A8B;
$pink: #FB005C;
$blue: #7e9df5;
$blue-vibrant: #0646EB;
$yellow: #FCD628;

// Font

$font--main: 'Open Sans';

$transition--standard: all .2s ease;
