@import '../../styles/shared/mixins';
@import '../../styles/shared/variables';

.logout {

  &__container{
    @include flex(column, center, center);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: $navy;
    z-index: 3000;
  }

  &__button {
    color:$blue;
    padding: 20px 30px;
    box-sizing: border-box;
    background: none;
    border: 3px solid $blue;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-size: clamp(1.6rem, 1.8rem, 5vw);
    transition: all 0.4s ease;

    // @media (max-width: 768px) {
    //   width: 95%;
    // }

    &:focus,
    &:hover {
      border-color: lighten($blue, 15%);
      color: lighten($blue, 15%);
    }

  }

  &__top-bar {
    @include flex(row, flex-end, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 30px;

    button {
      color: $white;
      cursor: pointer;
      background: none;
      outline: 0;
      border: none;
      font-size: 2rem;
    }
  }
}
